.Main,
.MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MainContainer > div:nth-child(odd) {
  background: var(--light-color);
}

.MainContainer > div:nth-child(even) > div {
  flex-direction: row-reverse;
}

@media all and (max-width: 500px) {
  .MainContainer > div:nth-child(even) > div {
    flex-direction: column;
  }
}
